{% load i18n cmsevents %}

{% if instance.title %}<h1>{{ instance.title }}</h1>{% endif %}
{% if items %}
<table>
  <tbody>
  {% for event in items %}
    <tr>
      <td><a href="{{ event.get_absolute_url }}">{{ event|render_image_preview }}</a></td>
      <td>{{ event.get_short_start }}</td>
      <td><a href="{{ event.get_absolute_url }}"><b>{{ event.name }}</b></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<h2>{% blocktrans %}No events found!{% endblocktrans %}</h2>
{% endif %}